.container{
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;

}

/* #inputBox{
    padding: 8px;
    width: calc(100% - 16px);

} */

input[type="text"]
{
    padding: 8px;
    width: calc(100% - 16px);
}

button{
    margin: 20px;
    padding: 6px 50px;
    background-color: green;
    border: 5px black solid;
    color: white;
    
}